* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.container {
  border: 1px solid grey;
  display: block;
}

/* Skill bars */

.language-skill {
  width: 200px;
  height: 20px;
}

.language-skill-bar {
  background-color: black;
  height: 100%;
}

.w0 {
  width: 0%;
}
.w20 {
  width: 20%;
}
.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
}
.w80 {
  width: 80%;
}
.w100 {
  width: 100%;
}